.nav_item {
    display: inline-block;
    margin: 10px;
    background-color: white;
    border-radius: 5px;
}

.nav_bar {
    list-style: none;

    background-image: url("../img/unity.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    font-size: 50px;

    text-align: center;

    line-height: 1.6;

    text-decoration: none;

    padding: 40px;
}

.nos_color {
    background-color: black;
}

.text_intro h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 40px;
    padding: 60px;
}

.text_2 {
    text-align: center;
    color: white;
    font-size: 40px;
    padding: 40px;
}

.info h1 {
    color: white;
}

.info {
    padding: 70px;
    text-align: center;
    background-image: url("../img/unity.webp");
}

.info fieldset legend label {
    color: white;
}

.form_color {
    background-color: black;
}

.tracks {}

.images {
    padding: 50px;
}



main .container-fluid {
    margin: 0;
    display: flex;
    justify-content: space-around;
}



main {
    background-image: url("../img/unity.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.end {
    text-align: center;
    padding: 30px;
}

.end a {
    margin: 40px;
}